form.signup,
form.login {
  margin-top: 50px;
};

.hide{
display: none;
};

.navbar-brand{
  margin: 0;
}
.about{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.business{
  height: 300px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  text-align: center;
}