<!DOCTYPE html>
<html lang="en">
<head>
  <title>Passport Login Local</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-9 mt-5">
        <h2 class="mb-5">Sign Up Form</h2>
        <form class="signup">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstName">Username</label>
              <input type="text" class="form-control" id="inputUserName" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
        
          <div class="form-row">
            
          
           
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-primary" id="signUpBtn">Sign Up</button>
        </form>
        <br />
      </form>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
      </div>
    </div>
    <div id="footer mb-5">
      <div class="footer navbar-fixed-bottom">
        <p class="text-black">Team 3: Kaylie Verner, Drew Swinicki, Kevin Lesnak, Kirtana Madiraju, Youstina Ibrahim</p>
        <a class="btn-link" href="https://github.com/kaylieverner/Rennovation-Bidder">Github</a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
</body>
</html>