body {
    background-color: rgb(43, 42, 42);
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.playerNumBtn {
    background: gold;
    border: none;
}

.playerNumBtn:hover {
    background: rgb(26, 23, 168);
    border: none;
}

.endGameBtn {
    background: gold;
    border: none;
    font-size: 20px;
}

.endGameBtn:hover {
    background: red;
    border: none;
}

th {
    color: white;
}

td {
    color: white;
}

.leaderboardHeading {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.image{
    width: 100%;
}